<div class="nested-fields mb-1">
  <tr>
    <td><%= f.text_field :name, placeholder: "例:test", class: "ingredient-form" %></td>
    <td><%= f.text_field :amount, placeholder: "例:１こ", class: "ingredient-form" %></td>
  </tr>
</div>