<% @menu.each do |menu| %>
<h1>レシピの名前</h1>
<%= link_to menu_path(menu) do %>
<h4><%= menu.name %></h4>
<% end %>
<h1>紹介文</h1>
<h4><%= menu.introduction %></h4>
<% end %>

<%= link_to "新規作成", new_menu_path %>